<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="height=device-height, initial-scale=1">
  <link rel="stylesheet" href="../src/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src = "../assets/androidjs.js"></script>
  <script type="text/javascript" src = "../js/functions.js"></script>
</head>
<body>
  <div>
   <div class = "loginMain">
    <div class = "logo">
      <img src="../img/idealogo.png" class ="logoimg">
    </div>
    <div class = "loginInputBlock">
      <input type="text" name="username" class = "loginput" maxlength="24" id ="usernameInput" placeholder="Username">
      <input type="password" name="password" class="loginput" maxlength="24" id = "passwordInput" placeholder="Password">
    </div>
   </div>
    <div class= "registerBlock">
      <div class ="registerText">
        Neturite paskyros? <span class ="registration" id = "register">  Registracija </span>
      </div>
    </div>
     <div class ="content-center">
       <div class = "btn" id = "loginbutton"> Prisijungti </div>
     </div>
  </div>
</body>
</html>