body{
	background-color: #e8e8e8;
	margin: 0;
}
div{
	user-select: none;
}
h1{
    text-align: center;
    font-size: 43px;
    padding-top: 54px;
    color: #747272;
}
.loginMain{
	height: 62%;
}
.content-center{
	display: flex;
    height: 40px;
	justify-content: center;
}
.fil{
    margin-top:29px;
}
.margin{
	margin: 2vh;
}
.logo{
	height:61%;
	text-align: center;
}
.logoimg{
	height: 80%;
	margin: 7%;
}
.loginInputBlock{
	display: flex;
	height: 43%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.loginput{
    width: 70%;
    margin-top: 1vh;
    margin-bottom: 2vh;
    padding: 9px;
    border-width: 0px;
    border-radius: 5px;
    height: 8vh;
    font-size: 8vw;
    background: #d3d3d3;
    outline: none;
    box-sizing: border-box;
    opacity: 0.7;
}
.registerinput{
    height: 37%;
}
.registerBlock{
    width: 100%;
    height: 32px;
}
.registerText{
    text-align: center;
    color: #989898;
    font-size: 20px
}
.registration{
    color: #9f5e43
}
.regMain{
    height: 100%;
    width: 100%;
}
.btn{
	border-radius: 8px;
    padding: 2% 0;
    width: 69%;
    cursor: pointer;
    border: none;
    user-select: none;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #80c484;
    color: #878787;
    text-align: center;
    font-size: 6vw;
}
.filbtn{
    background-color: #7a0d0d;
    color: #ffffff;
    width: 144px;
    font-size: 25px;
}
.main{
	height:100%;
	width: 100%;
}
.top{
	display: flex;
    justify-content: flex-end;
	height: 65px;
	border-bottom: 2px solid #847f7f;
	background-image: url("../img/images.jpg");
	position: fixed;
	top: 0;
    z-index: 999;
 	width: 100%;
}
.top-empty{
	height: 65px;
	width: 100%;
    margin-bottom: 10px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
/*DRAWER*/
.drawer{
	visibility: hidden;
	width:0;
	position: fixed;
    height: 100%;
    left: 0%;
    top: 0%;
    background-color: #b6b6b6;
    cursor: pointer;
    transition: 0.5s;
    z-index: 9999;
}
.drawerContent{
	display: flex;
	flex-direction: column;
	background-color: #cbcbcb;
    height: 100%;
    margin-left: 15%;
    transition: 0.2s;

}
.drawerTab{
	visibility: inherit;
	width: 97%;
    text-align: left;
    background-color: #dfdfdf;
    padding: 12px;
    font-size: 10vw;
    color: #aa7070;
    border-bottom: 5px solid #b6b6b6;
    text-transform: uppercase;
    transition: 0.1s;
}
/*DRAWER END*/
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.add{

}
.add::after{
	content: '\002B';
    float: right;
    font-weight: 1000;
    margin-right: 7%;
}
.ideasList{
    height: 150px;
    width: 97%;
    max-width: 97%;
    margin: 0 auto;
    background-color: #c5c5c5;
    border-radius: 11px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    content: "";
    position: relative;
    word-break: break-all;

}
.ideaTime{
    height: 20%;
    border-bottom: solid 1px;
    border-color: #88888863;
    line-height: 32px;
    text-align: center;
}
.ideaContent{
    height: 80%;
    padding: 8px;
    font-size: 15px;
}
.ideaContent:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 20px;
    background: linear-gradient(transparent 96px, #cccccc);

}
.ideatextArea{
    resize: none;
    overflow: hidden;
    min-height: 25px;
    max-height: 400px;
    font-size: 15px;
    width: 100%;
    outline:none;
    border: none;
    background: none;
}
.ideas{
}
.ideas::after{
	content: url(../img/list.png);
    float: right;
    font-weight: 1000;
    padding-top: 2%;
    margin-right: 5%;
}
.hamburger{
    position: absolute;
    height: 6%;
    left: 4%;
    top: 23%;
    width: 4%;
    cursor: pointer;
}
.ham{
  width: 35px;
  height: 5px;
  background-color: #5c595b;
  margin: 6px 0;
  cursor: pointer;
}
.closeHamburger{
	visibility: hidden;
	font-size: 30px;
	width: 7.5%;
    text-align: left;
    padding: 10px;
    padding-left: 18px;
    color: #5c595b;
    font-family: "Arial Black", Gadget, sans-serif;
    transition: 0.2s;
    cursor: pointer;
}
.closeHamburger:hover{
  opacity: 50%;
}
.searchbar{
    visibility: hidden;
    height: 50%;
	width: 0;
    transition: 0.5s;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding: 3px;
    border-width: 0px;
    border-radius: 5px;
    height: 33px;
    font-size: 4vw;
    background: #d3d3d3;
    outline: none;
    box-sizing: border-box;
    opacity: 0.7;
}
.reload{
	height: 100%;
    width: 100%;
	display: flex;
    align-items: center;
    justify-content: flex-end;
}
.reload-img{
	height: 62%;
}
.search{
	margin-right: 6px;
}
.ideaBlock{
	width: 100%;
    height: 88%;
	
}
.filterBlock{
    width: 100%;
    height: 51px;
    display: flex;
    justify-content: flex-end;
}
.filterContainer{
    display: inline-flex;
    padding: 5px;
        margin: 8px;
    background-color: grey;
    border-radius: 7px;
}
.filter{
    color: black;
    line-height: 27px;
    font-weight: 600;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

}
.filterWindow{
    visibility: hidden;
    width: 0;
    height: 0;
    position: fixed;
    top: 0;
    transition: 0.2s;
    right: 0;
    background-color: #e8e8e8;
    z-index: 99999;
}
#filterimg{
    height: 24px;
    margin: 1px;
    margin-right: 9px;
}
.addIconBlock{
    display: flex;
    justify-content: space-between;
    height: 57px;
    width: 100%;
    margin-bottom: 7%;
}
.camblock{
    width: 92%;
}
.addIcon{
    height: 56px;
    margin: 16px;
}
.camaddidea{
    margin: 8px;
}
.addidea{
	background-color: #aa7070;
    color: #f1efef;
}
.addContentBlock{
    background-color: #b9b7b7;
    margin: 7px;
    padding: 3%;
    outline: none;
    font-size: 15px;
    border-radius: 19px;
    min-height: 500px;
}
.tagContainer{
    width: 100%;
    min-height: 50px;
    max-height: 500px;
}
.tagBlock{
    background-color: #b9b7b7;
    width: 96%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 97%;
    margin: 7px;
    min-height: 42px;
    border-radius: 6px;
}
.tagInput{
    width: 100%;
    padding: 5px;
    padding-left: 7px;
    border: none;
    flex: 1;
    font-size: 24px;
    background-color: #b9b7b7;
    border-radius: 6px;
}
.tagTextTop{
    padding-left: 10px;
    font-size: 20px;
    color:#5c595b;
}
.tag{
    height: 35px;
    background-color: #ffffff;
    text-align: center;
    line-height: 35px;
    border-radius: 7px;
    padding-right: 10px;
    max-width:200px;
    overflow: hidden;
    padding-left: 10px;
    margin: 4px;
}
.tag::after{
    content: 'x';
    font-size: 19px;
    font-family: "Arial Black", Gadget, sans-serif;
    margin-left: 12px;
    color: #ba8282;
}
.cameraDiv{
    visibility: hidden;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    background-color: lightgrey;
}
.closeCamera{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
    margin: 10px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 30;
    color: #7a0d0d;
}
.closeFilter{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
    margin: 10px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 30;
    color: #7a0d0d;
    transition: 0.5s;
}
.camera{
    width: 100%;
    z-index: 99999;
}
.cameraIcon{
    height: 100%;
}
.top-div{
    height: 62px;
}
.around{
    justify-content: space-around;
}
.imagePreview{
    height: 55px;
    width: 71px;
    margin:5px;
}
.videoPreview{
    height: 55px;
    width: 71px;
    margin:5px;
}
.soundPreview{
    height: 55px;
    width: 71px;
    margin:5px;
}
.soundRecord{
    visibility: hidden;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 9999;
    background-color: #1212128a;
}
.soundRecWindow{
        visibility: hidden;
    width: 95%;
    height: 139px;
    margin: 185px auto;
    left: 9px;
    opacity: 0;
    top: auto;
    position: fixed;
    border-radius: 12px;
    background-color: #f6f6f6;
    transition: 0.5s;
}
.top-nav-sound{
    display: flex;
    justify-content: flex-end;
}
.closeSound{
    z-index: 9999;
    margin: 10px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 30;
    color: #585353;
}
.soundRecordingContainer{
    position: fixed;
    right: 83px;
    height: 95px;
    margin: -43px;
    width: 50%;
}
.soundRecordingIcon{
    height: 100%;
    width: 40%;
}
.linkContainer{
    visibility: hidden;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 9999;
    background-color: #1212128a;
}
.linkWindow{
        visibility: hidden;
    width: 95%;
    height: 146px;
    margin: 185px auto;
    left: 9px;
    opacity: 0;
    top: auto;
    position: fixed;
    border-radius: 12px;
    background-color: #f6f6f6;
    transition: 0.5s;
}
.myfont{
    font-size: 20px;
}
.closeLink{
    z-index: 9999;
    margin: 0px;
    margin-right: 10px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 30;
    color: #585353;
}
.linkbtn{
    border-radius: 8px;
    padding: 7px 0;
    width: 34%;
    cursor: pointer;
    border: none;
    user-select: none;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #80c484;
    color: #878787;
    text-align: center;
    font-size: 20px;
}
.linkbtnheight{
    height: 33px;
}
/*CHECKBOXES*/
.form-checkbox
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #ffffff;;
     color: #666;
     top: 10px;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 3px;
     cursor: pointer;     
     margin-right: 7px;
     outline: none;
}
.form-checkbox:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     color: white;
     content: '\02143';
     transform: rotate(40deg);
}
.form-checkbox:hover
{
     background-color: #ffffff;
}
.form-checkbox:checked
{
     background-color: #bab7b7;
}
label
{
     font: 15px/1.7 'Open Sans', sans-serif;
     color: #333;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     cursor: pointer;
} 
/*checkbox end*/
.topFilter{
    width: 100%;
    height: 65px;
    border-bottom: solid 2px #7a0d0d;
}
.filterOptionsBlock{
    display: flex;
    justify-content: space-between;
    height: 322px;
    width: 100%;
}
.filterOptions{
    flex: 1;
    text-align: center;
    margin: 10px;
}
.filterTitle{
    font-size: 14px;
    color: #2a2a2a;
    border-bottom: #7a0d0d solid 1px;
}
.filterText{
    font-size: 15px;
    margin-top: 27px;
    text-align: left;
    color: #434343;
    padding-left: 10;
    font-family: Verdana, Geneva, sans-serif;
}
.checkBoxBlock{
    margin: 10;

}
.categoryTitle{
    color: #434343;
    padding-left: 10;
    margin: 10px;
    font-family: Verdana, Geneva, sans-serif;
}
.listText{
    width: 100%;
}
.linkClass{
     display: block;
    height: 14px;
    width: 71px;
    margin: 5px;
    text-align: center;
    line-height: 15px;
}
.viewContent{
    visibility: hidden;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 9999;
    background-color: #1212128a;
}
.contentWindow{
    visibility: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: fixed;
    background-color: #f6f6f6;
    transition: 0.5s;
}
.closeContent{
    z-index: 9999;
    margin: 0px;
    margin-right: 10px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 30;
    color: #585353;
}
.dateView{
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: 21px;
    color: #d77373;
}
@keyframes rotateIcon {
     0% {
        transform: rotate(0deg)
      }
      25% {
        transform: rotate(45deg)
      }
      50%{
        transform: rotate(0deg)
      }
       50%{
        transform: rotate(-45deg)
      }
      100% {
        transform: rotate(0deg)
      }
    }
.top-nav-content{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 23px;
}